<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h1>配送先登録/一覧</h1>
    </div>

    <div class="col-md-10 ">
      <table class="table table-hover table-inverse">
        <thead>
          <td></td>
          <td></td>
          <td></td>
        </thead>

        <%= form_with model: @address, url: public_addresses_path do |f| %>

        <tbody>
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>

          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-md-6 ">
      <table class="table table-hover table-inverse">
        <thead>
          <td>郵便番号</td>
          <td>住所</td>
          <td>宛名</td>
          <td></td>
        </thead>

        <% @addresses.each do |address| %>
        <tbody>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する" , edit_public_address_path(address.id) %></td>
            <td><%= link_to "削除する" , public_address_path(address.id) , method: :delete %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>